<p id="notice"><%= notice %></p>
<h1>Listing Availability</h1>
<p>
  <strong>Host:</strong>
  <%= @listing.host.host_name %>
</p>

<p>
  <strong>Listing Airbnb ID:</strong>
  <%= @listing.airbnb_id %>
</p>

<p>
  <strong>Last scraped:</strong>
  <%= @listing.last_scraped %>
</p>

<availability_calendar :events="<%= @listing.booked_days.to_json %>"></availability_calendar>

<%= link_to 'Back', host_path(@listing.host_id) %>|
<%= link_to 'All Hosts', hosts_path %>

