<p id="notice"><%= notice %></p>
<% if Rails.env.production? %>
  <% listing_api_path = "https://rabbu5.herokuapp.com/updaters/#{@host.id}" %>
<% else %>
  <% listing_api_path = "http://localhost:3000/updaters/#{@host.id}" %>
<% end %>
<%= hidden_field_tag :vue_api_path, listing_api_path %>

<p>
  <strong>Host name:</strong>
  <%= @host.host_name %>
</p>

<p>
  <strong>Airbnb:</strong>
  <%= @host.airbnb_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @host.active %>
</p>

<p>
  <strong>Last scrapped:</strong>
  <%= @host.last_scraped %>
</p>

Listings: <%= @host.listings.try(:length) %>
<br>

<% if @host.listings.any? %>
  <% @host.listings.sort_by { |l| l.airbnb_id }.each do |listing| %>
    <listing :listing="<%= listing.to_json %>"></listing>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'All Hosts', hosts_path %>
