<p id="notice"><%= notice %></p>

<p>
  <strong>Host name:</strong>
  <%= @host.host_name %>
</p>

<p>
  <strong>Airbnb:</strong>
  <%= @host.airbnb_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @host.active %>
</p>

<p>
  <strong>Last scrapped:</strong>
  <%= @host.last_scraped %>
</p>

Listings: <%= @host.listings.try(:length) %>
<br>

<% if @host.listings.any? %>
  <% @host.listings.sort_by { |l| l.airbnb_id }.each do |listing| %>
    <%= link_to "#{listing.airbnb_id}", host_listing_path(listing.id, host_id: @host.id) %>
    Last Updated: <%= listing.last_scraped %>
    <br>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
