<script src="https://unpkg.com/vue"></script>
<p id="notice"><%= notice %></p>
<% if Rails.env.production? %>
  <% api_port = 8080 %>
<% else %>
  <% api_port = 3000 %>
<% end %>
<%= hidden_field_tag :vue_api_port, api_port %>
<%= hidden_field_tag :host_id, @host.id %>
<p>
  <strong>Host name:</strong>
  <%= @host.host_name %>
</p>

<p>
  <strong>Airbnb:</strong>
  <%= @host.airbnb_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @host.active %>
</p>

<p>
  <strong>Last scrapped:</strong>
  <%= @host.last_scraped %>
</p>

Listings: <%= @host.listings.try(:length) %>
<br>

<%# if @host.listings.any? %>
<%# @host.listings.sort_by { |l| l.airbnb_id }.each do |listing| %>
<%#= link_to "#{listing.airbnb_id}", host_listing_path(listing.id, host_id: @host.id) %>
<!--    Last Updated: <%#= listing.last_scraped %>-->
<!--    <br>-->
<%# end %>
<%# end %>

<div id="app">
  <ul>
    <li v-for="listing in listings">
      <a v-bind:href="'/hosts/' + listing.host_id + '/listings/' + listing.id">{{ listing.airbnb_id }}</a>
      {{ listing.airbnb_id }} {{ listing.last_scraped }}
    </li>
  </ul>
</div>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>



<script>
    const api_path = document.getElementById('vue_api_port').value.toString()
    console.log('API Path: ', api_path)
    const host_id = document.getElementById('host_id').value

    // const listings_url = 'http://localhost:' + api_path + '/updaters'
    // const fetch_options = {
    //     method: 'GET',
    //     mode: 'no-cors'
    // }

    const app = new Vue({
        el: '#app',
        data: {
            listings: []
        },
        created() {
            fetch(`http://localhost:${api_path}/updaters/${host_id}`)
                .then(response => response.json())
                .then(json => {
                    this.listings = json
                })
        }
    })
</script>