<script src="https://unpkg.com/vue"></script>
<p id="notice"><%= notice %></p>
<% if Rails.env.production? %>
  <% listing_api_path = "https://rabbu5.herokuapp.com/updaters/#{@host.id}" %>
<% else %>
  <% listing_api_path = "http://localhost:3000/updaters/#{@host.id}" %>
<% end %>
<%= hidden_field_tag :vue_api_path, listing_api_path %>

<p>
  <strong>Host name:</strong>
  <%= @host.host_name %>
</p>

<p>
  <strong>Airbnb:</strong>
  <%= @host.airbnb_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @host.active %>
</p>

<p>
  <strong>Last scrapped:</strong>
  <%= @host.last_scraped %>
</p>

Listings: <%= @host.listings.try(:length) %>
<br>

<div id="app">
  <ul>
    <li v-for="listing in listings">
      <a v-bind:href="'/hosts/' + listing.host_id + '/listings/' + listing.id">{{ listing.airbnb_id }}</a>
      {{ listing.airbnb_id }} {{ listing.last_scraped }}
    </li>
  </ul>
</div>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>



<script>
    const api_path = document.getElementById('vue_api_path').value.toString()
    console.log('API Path: ', api_path)

    const app = new Vue({
        el: '#app',
        data: {
            listings: []
        },
        created() {
            fetch(api_path)
                .then(response => response.json())
                .then(json => {
                    this.listings = json
                })
        }
    })
</script>